.testimonials {
  margin-top: 175px;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials__title {
  max-width: 455px;
  margin-top: 20px;
}

.testimonials__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.testimonials__item {
  position: relative;

  width: 330px;
  height: 300px;
  margin-top: 150px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-back);
}

.testimonials__item img {
  position: absolute;
  top: -80px;
}

.testimonials__item-text {
  max-width: 235px;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonials__item span {
  font-size: 20px;
  font-weight: 400;
}

.testimonials__item p {
  font-size: 20px;
  font-weight: 400;
}